/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [FIRSTNAME] as Surname
      ,[LASTNAME] as LastName
      ,[DATEOFBIRTH] as DateOfBirth
      ,[EMPLOYEEID] as CardNumber
      ,[JOBTITLE] as Company
      ,[ID]
      ,[CREATEDDATETIME] as Created
      ,[LASTUPDATEDDATETIME] as Modified
  FROM [MorphoManager].[dbo].[User_]